<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.aiforge.file-indexer</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-lc</string>
        <string>cd $HOME/AIForgeCrew &amp;&amp; .venv/bin/python scripts/runtime/file-indexer.py 2&gt;&amp;1</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/manikanta/AIForgeCrew</string>
    <key>StartInterval</key><integer>1800</integer>
    <key>RunAtLoad</key><true/>
    <key>StandardOutPath</key>
    <string>/Users/manikanta/.aiforge/logs/file-indexer.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/manikanta/.aiforge/logs/file-indexer.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/manikanta/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>AIFORGE_DSN</key>
        <string>postgresql://aiforge:aiforgepass@192.168.70.191:5432/aiforge</string>
    </dict>
</dict>
</plist>
